source [find interface/stlink-v2.cfg]

transport select hla_swd

source [find target/klx.cfg]

# Start
init
reset halt

# Mass erase
kinetis mdm mass_erase

# Flash the blink program
program bin/blink.bin verify reset exit 0x00000000

